* {
	user-select: none;
}
#btnadd {
	padding: 1rem;
	background: royalblue;
	color: white;
	font-weight: bold;
	border-radius: 10rem;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 4rem;
	font-size: 1.8rem;
	text-align: center;
	z-index: 10;
}

#btnadd:hover {
	cursor: pointer;
	background-color: black;
}

#addmovie {
	padding: 1rem;
	border-radius: 0.5rem;
	background: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: none;
	width: 300px;
	z-index: 100;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

#addmovie button {
	border-radius: 10rem;
	border: none;
	padding: 0.5rem;
	color: white;
	font-weight: bold;
	background-color: royalblue;
}

#addmovie button:hover {
	cursor: pointer;
	background-color: black;
}

#addmovie form {
	display: grid;
	gap: 1rem;
	grid-template-rows: 1fr;
}

#addmovie form p {
	font-size: 0.8rem;
	margin-bottom: -1rem;
}
#addmovie input,
#addmovie select,
#addmovie textarea {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid lightgray;
}

#addmovie textarea {
	resize: none;
	height: 10rem;
}

#list {
	padding: 2rem;
	display: flex;
	flex-flow: wrap;
	gap: 1rem;
	justify-content: flex-start;
}

#list .movie {
	position: relative;
	margin-right: auto;
}

.image {
	background-color: black;
	position: relative;
	width: 10rem;
	aspect-ratio: 10/16;
}

.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.delete {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	border-radius: 10rem;
	width: 2rem;
	height: 2rem;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: white;
	opacity: 0.5;
}

.image:hover .delete {
	display: flex;
}

.delete:hover {
	opacity: 1;
	cursor: pointer;
}

.movie .rating {
	color: white;
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	font-weight: bold;
	color: black;
	width: 1rem;
	font-size: 0.9rem;
	text-align: center;
	border-radius: 10rem;
	background-color: yellow;
}
.movie .genre {
	padding: 0.2rem 0.5rem;
	background: lightgrey;
	display: inline-block;
	border-radius: 0.3rem;
	margin-top: 0.5rem;
	font-size: 0.9rem;
}

.movie h2 {
	margin-top: 0.5rem;
}

.movie .description {
	position: absolute;
	display: none;
	bottom: -4rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 0.4rem;
	box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(1rem);
	background: rgba(255, 255, 255, 0.8);
	z-index: 1;
	padding: 1rem;
	font-size: 0.9rem;
	width: 110%;
}

.movie:hover .description {
	display: block;
}
